* {
  font-family: "Poppins", sans-serif;
}
.background img {
  width: 100%;
}
.logo {
  display: flex;
  flex-direction: row;
}
.logo img {
  width: 10vw;
  height: 5vh;
  margin-top: 4vh;
}
.brand-name {
  font-size: 20px;
  margin-top: 4vh;
}
nav {
  margin-top: 4vh;
  margin-left: 5vw;
}
nav a {
  text-decoration: none;
  color: black;
  margin-left: 2vw;
  font-size: 12px;
}
.icon {
  margin-top: 5vh;
  margin-left: 5vw;
  display: none;
}
.icon i {
  margin-left: 5vw;
}
@media (min-width: 391px) {
  .icon {
    display: block;
  }
  .logo img {
    width: 6vw;
    height: 7vh;
    margin-top: 3vh;
  }
  nav {
    margin-left: 17vw;
  }
  nav a {
    font-size: 15px;
    margin-left: 5vw;
  }
  .icon {
    margin-left: 10vw;
    margin-top: 4vh;
  }
}
.hero {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -23vh;
  margin-bottom: 20vh;
  margin-right: 2vh;
  font-size: 10px;
}
.hero h1 {
  color: #b88e2f;
  margin-top: -1.5vh;
  padding-left: 1vh;
  padding-right: 3vh;
  padding-bottom: 2vh;
}
.hero p {
  padding-right: 17.5vh;
  padding-left: 1vh;
  padding-bottom: 2vh;
}
.tagline {
  background-color: #fff3e3;
}
.desc-tagline p {
  display: none;
}
@media (min-width: 391px) {
  .tagline {
    margin-top: -50vh;
    margin-right: 5vw;
    margin-bottom: 20vh;
    padding: 1vh 7vh;
  }
  .desc-tagline p {
    display: block;
    font-size: 5px;
  }
  .tagline p {
    font-size: 15px;
  }
  .tagline h1 {
    font-size: 40px;
  }
}
.heading-section-one {
  color: rgb(63, 58, 58);
  text-align: center;
  font-size: 20px;
}
.text-one {
  color: rgb(63, 58, 58);
  text-align: center;
  margin-top: -2vh;
  font-size: 15px;
}
@media (min-width: 391px) {
  .heading-section-one {
    color: rgb(63, 58, 58);
    text-align: center;
  }
  .text-one {
    color: rgb(63, 58, 58);
    text-align: center;
    margin-top: -2vh;
  }
}
.sct-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5vh;
  overflow-x: auto;
  gap: 8vh;
}
.item-one {
  width: 20vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  flex-shrink: 0;
}
.item-one img {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-one p {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5vh;
  /* background-color: #f8dc9b; */
  padding: 2vh 7vh;
  border-radius: 10px;
}
.item-one :hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}
.item-two {
  width: 20vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.item-two img {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-two p {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5vh;
  /* background-color: #f8dc9b; */
  padding: 2vh 7vh;
  border-radius: 10px;
}
.item-two :hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}
.item-three {
  width: 20vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.item-three img {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  align-items: center;
}
.item-three p {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5vh;
  /* background-color: #f8dc9b; */
  padding: 3vh 5vh;
  border-radius: 10px;
}
.item-three :hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}
.item-four {
  width: 20vw;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.item-four img {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.item-four p {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5vh;
  /* background-color: #f8dc9b; */
  padding: 3vh 5vh;
  border-radius: 10px;
}
.item-four :hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}
.item-five {
  width: 10.5vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-five img {
  width: 100%;
  margin-top: 2vh;
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.item-five p {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 5vh;
  /* background-color: #f8dc9b; */
  padding: 3vh 5vh;
  border-radius: 10px;
}
.item-five :hover {
  transform: scale(1.1);
  transition: 0.1s linear;
}
@media (max-width: 390px) {
  .item-one p,
  .item-two p,
  .item-three p,
  .item-four p,
  .item-five p {
    font-size: 16px;
    margin-left: 2vh;
    padding: 1vh 3vh;
  }
  .item-one,
  .item-two,
  .item-three,
  .item-four,
  .item-five {
    font-size: 16px;
  }
}
@media (min-width: 391px) {
  .sct-item {
    display: flex;
    flex-direction: row;
    gap: 8vh;
  }
  .item-one {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
  }
  .item-one img {
    width: 20vw;
    height: 50vh;
    margin-bottom: 8vh;
  }
  .item-one :hover {
    transform: rotate(5deg) scale(1.1);
    transition: 0.1s linear;
  }
  .item-two {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
  }
  .item-two img {
    width: 20vw;
    height: 50vh;
    margin-bottom: 8vh;
  }
  .item-two :hover {
    transform: rotate(5deg) scale(1.1);
    transition: 0.1s linear;
  }
  .item-three {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
  }
  .item-three img {
    width: 20vw;
    height: 50vh;
    margin-bottom: 8vh;
  }
  .item-three :hover {
    transform: rotate(5deg) scale(1.1);
    transition: 0.1s linear;
  }
  .item-four {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
  }
  .item-four img {
    width: 20vw;
    height: 50vh;
    margin-bottom: 8vh;
  }
  .item-four :hover {
    transform: rotate(5deg) scale(1.1);
    transition: 0.1s linear;
  }
  .item-five {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
  }
  .item-five img {
    width: 20vw;
    height: 50vh;
    margin-bottom: 8vh;
  }
  .item-five :hover {
    transform: rotate(5deg) scale(1.1);
    transition: 0.1s linear;
  }
}
